<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inscripción Exitosa</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <h1>¡Inscripción Exitosa!</h1>
        <p>
            Gracias por inscribirte al evento. Te esperamos en la fecha
            seleccionada.
        </p>
        <a href="/">Volver a la página principal</a>
    </body>
</html>
